.col{
    flex: 1 0 0%;
}

/* Match List */
.MatchContainer{
    padding: 0;
}
.MatchItem{
    display: flex;
    align-items: center;
}

.ATeam{
    text-align: left;
}

.BTeam{
    text-align: right;
}

.MatchScore{
    text-align: center;
}

.ScoreInput{
    width: 40px;
    height: 40px;
}

.PlayerName{
    padding:  10px 5px;
    font-size: 17px;
}

/* Button */
.CommonButton{
    border: 1px solid black;
    background: none;
    border-radius: 5px;
    cursor: pointer;
}

.CommonButton:hover{
    background-color: #212529;
    color:white;
}