.col {
  flex: 1 0 0%;
}

.PlayerInput {
    flex: 1;
}

.PlayerInput input {
    width: 100%;
}

.ATeam {
  text-align: left;
  /* max-width: 35%; */

}

.BTeam {
  text-align: right;
  /* max-width: 35%; */

}

.MatchScore {
  text-align: center;
}

.ScoreInput {
  /* width: 40px; */
  /* height: 40px; */
  width: fit-content;
}

.PlayerName {
  padding: 10px 5px;
  font-size: 17px;
}

/* Button */
.CommonButton {
  border: 1px solid black;
  background: none;
  border-radius: 5px;
  cursor: pointer;
}

.CommonButton:hover {
  background-color: #212529;
  color: white;
}

/* Modal */
.Modal {
  margin: auto;
  border: none;
  border-radius: 16px;
}

/* Tab panel */
.TabLabels {
  display: flex;
  width: 100%;
  padding-left: 0px;
}

.TabLabel {
  list-style: none;
  flex: 1;
  width: 100%;
  text-align: center;
  font-size: 16px;
  font-weight: 500;
  padding: 6px 10px;
  height: 56px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #4f5050;
  border-bottom: 2px solid transparent;
  cursor: pointer;
  transition: color 0.3s ease-in-out, border-color 0.3s ease-in-out,
    background-color 0.3s ease-in-out;
}

.Active {
  color: #1e7dfd;
  border-bottom: 2px solid #1e7dfd;
}

/* Daily Result */
.MeetingDay {
  display: flex;
  font-size: 20px;
  padding: 10px 0;
  justify-content: center;
  border-bottom: 1px solid var(--primary-gray);
}

.MeetingDay a {
  text-decoration: none;
  color: black;
}


/* Table */
.Table {
    width: 100%;
    font-size: 14px;
    line-height: 1.4rem;
    text-align: center;
    border-bottom: 2px solid var(--primary-gray);
    border-collapse: collapse;
  }

  .Table tr {
    border-width: 0;
    border-color: var(--primary-gray);
  }

  .Table tr th  {
    padding: 12px;
    border-top: 1px solid var(--primary-gray);
  }

  .Table td {
    padding: 12px;
    border-top: 1px solid var(--primary-gray);
  }
  
  .Table tbody tr:nth-child(odd) {
    background: #f2f2f2;
  }

  /* Match Item */
  .MatchItem{
    display: flex;
    align-items: center;
  }

  .ConfirmButtons{
    display: flex;
    justify-content: center;
    gap: 8px;
    margin-top: 4px;
  }

  .Score{
    font-size: 32px;
  }