.CalLayout {
  margin: 0 auto;
  /* background-color: gray; */
  max-width: 640px;
  padding: 8px;
}

/* 승률 계산 메인 페이지 */


/* Total Results */
.RankingTable{
    margin: 16px 0;
}


/* Match Result Page */
.MatchResultsHeader{
    margin: 12px 0px;
    font-size: 18px;
    font-weight: 700;
}

.MatchContainer {
    padding: 0;
    border-top: 1px solid var(--primary-gray);
    border-bottom: 1px solid var(--primary-gray);
}


.MatchContainer > li {
    display: flex;
    align-items: center;
    border-bottom: 1px solid var(--primary-gray);
}

.Warning {
    margin-top: 8px;
    opacity: 0.6;
    font-size: 14px;
}