.CalLayout {
  margin: 0 auto;
  /* background-color: gray; */
  max-width: 640px;
  padding: 8px;
}

/* 승률 계산 메인 페이지 */
.CalMainHeader {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.HeaderLogo{
    font-size: 20px;
    font-weight: 700;
    font-style: italic;
    cursor: pointer;
}

.HeaderButton{
    height: 56px;
    display: flex;
    padding: 12px;
}