.CalLayout {
  margin: 0 auto;
  /* background-color: gray; */
  max-width: 640px;
  padding: 8px;
}

/* 승률 계산 메인 페이지 */
.CalMainHeader {
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.1), 0 1px 3px 0 rgba(0, 0, 0, 0.08);
}

.HeaderLogo{
    font-size: 20px;
    font-weight: 700;
    font-style: italic;
    cursor: pointer;
}

.HeaderButton{
    height: 56px;
    display: flex;
    padding: 12px;
    cursor: pointer;
}

/* Total Results */
.RankingTable{
    margin: 16px 0;
}


/* Match Result Page */
.MatchResultsHeader{
    margin: 12px 0px;
    font-size: 18px;
    font-weight: 700;
}

.MatchContainer {
    padding: 0;
    border-top: 1px solid #e1e1e1;
    border-bottom: 1px solid #e1e1e1;
}

.MatchContainer > li {
    display: flex;
    align-items: center;
    border-bottom: 1px solid #e1e1e1;
}